* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
}

body {
    background-color: #F7F7F7;
}

.center {
    text-align: center;
}

header {
    padding: 55px 0;
    background-color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav ul {
    display: flex;
    gap: 47px;
}

header .container nav ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
}

header .container .buttons {
    display: flex;
    gap: 24px;
}

header .container .buttons .login {
    border: none;
    background-color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
}

header .container .buttons .apply {
    background-color: #000;
    color: white;
    padding: 12px 24px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    cursor: pointer;
}

/* Hero Start */
.hero {
    height: 78vh;
    background: linear-gradient(to right, #fff 40%, #acf8f5 40% 100%);
}

.hero .container {
    position: relative;
    display: flex;
}

.hero .container .hero-left {
    padding-top: 20px;
    padding-right: 94px;
}

.hero .container .hero-left h1 {

    font-family: Roboto;
    font-weight: 400;
    font-size: 58px;
    line-height: 64.17px;
    letter-spacing: 2.33px;
}

.hero .container .hero-left span {
    color: #1e1d1d;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 20px;
}

.hero .container .hero-left .apply {
    background-color: #000;
    color: white;
    padding: 12px 24px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    cursor: pointer;
}

.look2 {
    margin-left: 13px;
}

.hero .container .hero-right {
    position: absolute;
    top: 100px;
    left: 380px;
}

.hero .container .hero-right img {
    border-radius: 30px;
    box-shadow: 2px 4px 8px rgba(128, 128, 128, 0.432);
}

/* Hero End */
/* Features */
.about {
    padding: 142px;
    background-color: #F7F7F7;
}

.about .container .featured {
    text-align: center;
}

.about .container .featured .featured-text {
    color: #1E1D1DB8;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about .container .featured h2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
}

.about .container .cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 65px;
}

.about .container .cards .card {
    width: 554px;
    background-color: white;
    flex-shrink: 0;
    box-shadow: 2px 4px 8px rgba(128, 128, 128, 0.116);
}

.about .container .cards .card .titel h3 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 26.67px;
    letter-spacing: 0%;
    margin-left: 48px;
    margin-top: 55px;
}



.about .container .cards .card .titel .img-card {
    width: 88px;
    height: 140px;
    margin: 24px;
}

.about .container .cards .card .titel {
    display: flex;
    justify-content: space-between;
}

.about .container .cards .card .titel .title-text {
    display: flex;
    flex-direction: column;
}

.about .container .cards .card .titel .title {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-left: 48px;
    margin-top: 23px;
    margin-bottom: 62px;
    margin-right: 204px;
}

.about .container .cards .card hr {
    background-color: rgba(30, 29, 29, 0.12);
    height: 1px;
    border: none;
}

.about .container .cards .card .texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 16px 21px 40px;
}

.about .container .cards .card .texts .left-texts .square-green {
    background-color: #6EEB9D;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 4px;
}

.about .container .cards .card .texts .left-texts .square-yellow {
    background-color: #FFF67F;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 4px;
}

.about .container .cards .card .texts .left-texts {
    display: flex;
    gap: 4px;
    align-items: center;
}

.about .container .cards .card .texts .left-texts .text-group .square-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
}

.about .container .cards .card .texts .square-right {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
    margin: 31px 40px 31px 0;
}

.about .container .cards .card .texts .left-texts .text-group {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.about .container .cards .card .texts .left-texts .text-group .square-mini-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #1E1D1DB8;

}

.learn-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-btn .learn-button {
    border: 1px solid black;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    background-color: white;
    padding: 18px 178px;
    margin: 23px 40px;
    cursor: pointer;
}

/* Features End*/
/* Boost Section */
.boost {
    background-color: #F7F7F7;
    margin-bottom: 92px;
}

.boost h2 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 65px;
}

.boost .cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    height: 741;
}

.boost .cards .card {
    width: 359px;
    height: 435px;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 8px rgba(128, 128, 128, 0.116);
}

.boost .cards .card h3 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #1E1D1D;
    margin-top: 239px;
}

.boost .cards .card .text {
    display: flex;
    justify-content: center;
}

.boost .cards .card .text p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #1E1D1DC7;
    margin-top: 27px;
    width: 313px;
}

/* Boost Section End*/
/* App Section */
.app {
    background-color: white;
    padding-bottom: 56px;
}

.app .container {
    width: 90%;
    margin-left: 110px;
    min-height: 1280px;
}

.app .container .app-p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #1E1D1DB8;
    margin-bottom: 15px;
    padding-top: 96px;
}

.app .container .app-title {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
    margin-bottom: 65px;
}

.app .container .app-green {
    background-color: #6EEB9D;
    width: 1140px;
    height: 543px;
    padding-left: 48px;
    padding-top: 189px;
    padding-bottom: 177px;
    border-radius: 10px;
}

.app .container .app-green h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    width: 333px;
    color: #1E1D1D;
}

.app .container .app-green p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    width: 333px;
    color: #1E1D1DB8;
}

.app .container .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
    margin-top: 32px;
    margin-bottom: 96px;
}

.app .container .cards .gray-1 {
    background-color: #F7F7F7;
    text-align: center;
    width: 443px;
    height: 531px;
    border-radius: 10px;
}

.app .container .cards .gray-1 h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    color: #1E1D1D;
    margin-top: 395px;
}

.app .container .cards .gray-2 {
    background-color: #F7F7F7;
    text-align: center;
    width: 665px;
    height: 531px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.app .container .cards .gray-1 p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0.15px;
    text-align: center;
    color: #1E1D1DB8;
}

.app .container .cards .gray-2 .gray-2-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 226px;
    margin-right: 219px;
    margin-left: 48px;
    flex-shrink: 0;
}

.app .container .cards .gray-2 .gray-2-text h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    color: #1E1D1D;
    z-index: 2;
}

.app .container .cards .gray-2 .gray-2-text p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0.15px;
    text-align: center;
    color: #1E1D1DB8;
}

.app .container .cards .gray-2 .brend {
    position: absolute;
    right: 65px;
    top: 0;
    z-index: 0;

}

.app .container .cards .yellow {
    width: 665px;
    height: 594px;
    background-color: #FFF67F;
    border-radius: 10px;
}

.app .container .cards .yellow .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app .container .cards .yellow .text h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
    text-align: center;
    margin-top: 435px;
}

.app .container .cards .yellow .text p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    text-align: center;
    color: #1E1D1DB8;
    width: 493px;
}

.app .container .cards .aqua {
    border-radius: 10px;
    background-color: #ACF8F5;
    width: 443px;
    height: 594px;
}

.app .container .cards .aqua h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    width: 287px;
    margin-top: 169px;
}

.app .container .cards .aqua p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    text-align: center;
    color: #1E1D1DB8;
    width: 347px;
}

.app .container .cards .aqua .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app .container .cards .aqua .payment-img {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.app .container .cards .aqua .payment-img img {
    width: 347px;
    height: 178px;
}

/* App Section End */

/* Card Features */

.card-features {
    background-color: #1E1D1D;
    padding-top: 65px;
    padding-bottom: 34px;
    margin-bottom: 105px;
}

.card-features .container {
    width: 90%;
    margin-left: 110px;
}

.card-features .container .fea-p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.56px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFFB8;
    margin: 15px;
}

.card-features .container .fea-title {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.card-features .container .cards {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 96px;
}

.card-features .container .cards .card {
    background-color: white;
    width: 359px;
    height: 332px;
}

.card-features .container .cards .card .content .green {
    width: 48px;
    height: 48px;
    background-color: #6EEB9D;
    border-radius: 4px;
    margin-bottom: 24px;
}

.card-features .container .cards .card .content {
    margin-left: 48px;
    margin-top: 48px;
    width: 256px;
}

.card-features .container .cards .card .content h3 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-bottom: 27px;
}

.card-features .container .cards .card .content p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #1E1D1DC7;
}

.card-features .container .cards .card .content .yellow {
    width: 48px;
    height: 48px;
    background-color: #FFF67F;
    border-radius: 4px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-features .container .cards .card .content .aqua {
    width: 48px;
    height: 48px;
    background-color: #ACF8F5;
    border-radius: 4px;
    margin-bottom: 24px;
}

/* Card Features End */

/* Testimonials Section */
.testimonials {
    background-color: #F7F7F7;
    padding-bottom: 116px;
}

.testimonials .container {
    width: 90%;
    margin-left: 110px;
}

.testimonials .container h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
    margin-bottom: 49px;
}

.testimonials .container button {
    border: 1px solid black;
    width: 192px;
    height: 64px;
    background-color: inherit;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-bottom: 66px;
    cursor: pointer;
}

.testimonials .cards {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 80px;
}

.testimonials .cards .card-green {
    width: 418px;
    height: 428px;
    background-color: #6EEB9D;
}

.testimonials .cards .card-green .notes {
    margin-left: 345px;
}

.testimonials .cards .card-green .text {
    width: 254px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    color: #1E1D1D;
    margin-left: 34px;
    margin-right: 97px;
}

.testimonials .cards .card-green .author {
    font-family: Roboto;
    font-weight: 700;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    color: #1E1D1D;
    margin-left: 34px;
    margin-top: 100px;
}

.using {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #1E1D1DB8;
    margin-left: 34px;
}

.testimonials .cards .card-aqua {
    width: 359px;
    height: 371px;
    background-color: #ACF8F5;
}

.testimonials .cards .card-aqua .notes {
    margin-left: 296px;
}

.testimonials .cards .card-aqua .text {
    width: 254px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    color: #1E1D1D;
    margin-left: 34px;
    margin-right: 97px;
}

.testimonials .cards .card-aqua .author {
    font-family: Roboto;
    font-weight: 700;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    color: #1E1D1D;
    margin-left: 34px;
    margin-top: 44px;
}


.testimonials .cards .card-yellow {
    width: 418px;
    height: 428px;
    background-color: #FFF67F;
}

.testimonials .cards .card-yellow .notes {
    margin-left: 372px;
}

.testimonials .cards .card-yellow .text {
    width: 254px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    color: #1E1D1D;
    margin-left: 34px;
    margin-right: 97px;
}

.testimonials .cards .card-yellow .author {
    font-family: Roboto;
    font-weight: 700;
    font-style: Regular;
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: 0%;
    color: #1E1D1D;
    margin-left: 34px;
    margin-top: 44px;
}

/* Testimonials Section End */

/* Offer Section */
.offers {
    background-color: white;
    padding-top: 96px;
}

.offers .container {
    width: 90%;

}

.offers .container .offer {
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(90deg, #f0eded 50%, black 50% 100%);
    width: 100%;

}

.offers .container .offer .text {
    display: flex;
    margin-left: 48px;
    margin-top: 156px;
    margin-bottom: 156px;
    margin-right: 116px;
}

.offers .container .offer .text .text2 {
    display: flex;
    flex-direction: column;
}

.offers .container .offer .text .text2 h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 27px;
    line-height: 33.07px;
    letter-spacing: 0%;
    width: 399px;
}

.offers .container .offer .text .text2 h2 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 49px;
}

.offers .container .offer .text .text2 button {
    width: 196px;
    height: 64px;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    background-color: black;
    cursor: pointer;
}

.offers .container .offer button img {
    margin-left: 13px;
}

.offers .container .offer .black {
    background-color: black;
    width: 570px;
    height: 555px;
}

.offers .container .text3 {
    display: flex;
    justify-content: flex-start;
    gap: 37px;
}

.offers .container .text3 p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #1E1D1DB8;
    width: 354px;
    margin-top: 55px;
    margin-bottom: 95px;
}

/* Offer Section End */